* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#image-container {
  height: 100%;
  width: 100%;
  display: flex;
}

#display-image {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.nav {
  cursor: pointer;
}

.nav-back {
  order: -1;
}

#dot-container {
  margin: 10px 0px 10px 0px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dot, .active-dot {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 10px 5px 10px;
  min-width: 10px;
  min-height: 10px
}

.dot {
  background-color: #bbb;
}

.active-dot {
  background-color: black;
}

@media only screen and (max-device-width : 480px) {
  #main-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  #image-container {
    max-height: calc(100% - 80px);
  }

  #display-image {
    order: -1
  }

  .nav-back {
    order: 0
  }

  .dot, .active-dot {
    height: 5px;
    width: 5px;
    min-width: 5px;
    min-height: 5px;
    border-radius: 2.5px;
    margin: 5px 5px 5px 5px;
  }
}